    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img class="img-circle" id="profile-pic" src="assets/<%= @user.image_url %>"/>
                    <%= @user.username %>
                </a>

            </div>
                
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Tutorials</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Badges</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/sessions/destroy">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                            <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <button class="btn transparent" id="add-new" style="border: solid 1px white;">Add new tutorial</button>
        <div id="show"><%= render 'tutorials/show' %></div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <ul id="badges" class="list-inline list-unstyled">
                    <% @tutos.each do |tutorial| %>
                        <li>
                            <div class="tutorial">
                                <img class="img-responsive img-thumbnail" src="">
                                <%= link_to tutorial.title, tutorial %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul id="badges" class="list-inline list-unstyled">
                    <% @badges.each do |badge| %>
                        <li>
                            <div class="badge">
                                <img class="img-responsive transparent img-thumbnail" src="assets/<%= badge.image_url %>"/>
                            </div>
                        </li>
                    <% end %>
                </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Kennis 2014</p>
        </div>
    </footer>
