<!DOCTYPE html>
<html>
<head>
  <title>Kennis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'tutorialcontent', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'editor', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">

<%= yield %>

</body>
</html>
